@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #0f0f0f;
  --primary: #22558b;
  --secondary: #eea500;
  --gray: #f0f0f0;
  --black70: #333333;
  --lightWhite: #d4dde8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray: var(--gray);
  --color-black70: var(--black70);
  --color-lightWhite: var(--lightWhite);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0f0f0f;
    --primary: #22558b;
    --secondary: #eea500;
    --gray: #f0f0f0;
    --black70: #333333;
    --lightWhite: #d4dde8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.plusJakartaDisplay {
  font-family: "Plus Jakarta Display", sans-serif;
}
