@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #0f0f0f;
  --primary: #22558b;
  --secondary: #eea500;
  --gray: #f0f0f0;
  --black70: #333333;
  --lightWhite: #848484;
  --borderColor: #0f0f0f29;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray: var(--gray);
  --color-black70: var(--black70);
  --color-lightWhite: var(--lightWhite);
  --color-borderColor:var(--borderColor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0f0f0f;
    --primary: #22558b;
    --secondary: #eea500;
    --gray: #f0f0f0;
    --black70: #333333;
    --lightWhite: #848484;
    --borderColor: #0f0f0f29;
  }
}

@theme {
  --breakpoint-sm: 500px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1260px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.scrollBar {
  scrollbar-width: none;
}

.plusJakartaDisplay {
  font-family: "Plus Jakarta Display", sans-serif;
}

body::-webkit-scrollbar {
  display: none !important;
}
