@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #0f0f0f;
  --primary: #22558b;
  --secondary: #eea500;
  --gray: #f0f0f0;
  --black70: #333333;
  --lightWhite: #848484;
  --borderColor: #0f0f0f29;
  scrollbar-width: none;
  -ms-overflow-style: none;
  --green: #14b514;
  --red: #ff0000;
  --lightGreen: #14b51429;
  --lightRed: #ff00001f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray: var(--gray);
  --color-black70: var(--black70);
  --color-lightWhite: var(--lightWhite);
  --color-borderColor: var(--borderColor);
  --color-green: var(--green);
  --color-lightGreen: var(--lightGreen);
  --color-red: var(--red);
  --color-lightRed: var(--lightRed);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0f0f0f;
    --primary: #22558b;
    --secondary: #eea500;
    --gray: #f0f0f0;
    --black70: #333333;
    --lightWhite: #848484;
    --borderColor: #0f0f0f29;
    --green: #14b514;
    --red: #ff0000;
    --lightGreen: #14b51429;
    --lightRed: #ff00001f;
  }
}

@theme {
  --breakpoint-sm: 500px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1260px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.scrollBar {
  scrollbar-width: none;
}

.plusJakartaDisplay {
  font-family: "Plus Jakarta Display", sans-serif;
}

body::-webkit-scrollbar {
  display: none !important;
}

.mySwiper {
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: var(--secondary);
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

/* Make all FusionCharts SVG papers transparent */
.fusioncharts-container > [id^="raphael-paper-"] {
  background-color: transparent !important;
}

.fusioncharts-container > svg > g > [pointer-events="bounding-box"] {
  display: none !important;
}

[class*="raphael-group-"][class*="-background"] rect {
  fill-opacity: 0 !important;
  stroke-width: 0 !important;
}
